/*

Colors
======

the dialogus color palette. Always use colors by their 'use-names', e.g. `$primary` instead of `$blue`.

    <div class="example-colors">
          <div class="example-colors__cell">
            <div class="example-colors__cell__color example-colors__cell__color--lima">#78be20 - Lima</div>
          </div>
          <div class="example-colors__cell">
            <div class="example-colors__cell__color example-colors__cell__color--blumine">#1f5f80 - Blumine</div>
          </div>
          <div class="example-colors__cell">
            <div class="example-colors__cell__color example-colors__cell__color--kidnapper">#e1e9d7 - Kidnapper</div>
          </div>
          <div class="example-colors__cell">
            <div class="example-colors__cell__color example-colors__cell__color--pearl-bush">#ebe5de - Pearl-Bush</div>
          </div>
          <div class="example-colors__cell">
            <div class="example-colors__cell__color example-colors__cell__color--gray">#909090 - Gray</div>
          </div>
    </div>

*/


//brand colors
$brand-colors: (
  'lima': #78be20,
  'kidnapper': #e1e9d7,
  'pearl-bush': #ebe5de,
  'gray': #909090,
  'blumine': #1f5f80,
  'granny-smith': #8f9d9d
);

//usage
$primary: map-get($brand-colors, 'lima');
$secondary: map-get($brand-colors, 'blumine');
$decent-background: map-get($brand-colors, 'kidnapper');
$strong-background: map-get($brand-colors, 'pearl-bush');
$cell-background: map-get($brand-colors, 'gray');
$text: map-get($brand-colors, 'gray');
$shadow: map-get($brand-colors, 'granny-smith');
