/*
Typography
==========
Our brand font is **Champagne & Limousines**, our standard font **Open Sans**.

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h2>
    <p>This is normal body text.</p>

*/

@font-face {
  $url: '/app/fonts/Champagne-Limousines';
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: normal;
  src: url($url + '.eot');
  src: local('Champagne & Limousines'),
       url($url + '.eot?#iefix'),
       url($url + '.woff') format('woff'),
       url($url + '.ttf') format('truetype'),
       url($url + '.svg') format('svg');
}

@font-face {
  $url: '/app/fonts/OpenSans-Regular';
  font-family: 'Open Sans';
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
  src: url($url + '.eot');
  src: local('Open Sans Regular'),
       url($url + '.eot?#iefix'),
       url($url + '.woff') format('woff'),
       url($url + '.ttf') format('truetype'),
       url($url + '.svg') format('svg');
}

@font-face {
  $url: '/app/fonts/OpenSans-Light';
  font-family: 'Open Sans';
  font-weight: 200;
  font-style: normal;
  src: url($url + '.eot');
  src: local('Open Sans Light'),
       url($url + '.eot?#iefix'),
       url($url + '.woff') format('woff'),
       url($url + '.ttf') format('truetype'),
       url($url + '.svg') format('svg');
}

@font-face {
  $url: '/app/fonts/OpenSans-Semibold';
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: normal;
  src: url($url + '.eot');
  src: local('Open Sans Semibold'),
       url($url + '.eot?#iefix'),
       url($url + '.woff') format('woff'),
       url($url + '.ttf') format('truetype'),
       url($url + '.svg') format('svg');
}

$heading-font: 'Champagne & Limousines', 'Helvetica Neue', sans-serif;
$text-font: 'Open Sans', 'Arial', sans-serif;

@mixin primary-heading {
  font-family: $heading-font;
  color: $primary;
  font-weight: lighter;
}

@mixin secondary-heading {
  font-family: $heading-font;
  color: $secondary;
  font-weight: lighter;
}

@mixin tertiary-heading {
  font-family: $text-font;
  color: $secondary;
  font-weight: 500;
}

@mixin sub-heading {
  font-family: $text-font;
  font-weight: 200;
}

html {
  font-family: $text-font;
}

body {
  @include rem("font-size", .9rem);
}

p {
  margin-top: .5em;
}
