/*
Review Block
============

This block is used for displaying reviews from [gutgemacht.at](http://www.gutgemacht.at).
The link that is marked up as a button leads to `example.com` if javascript is not activated.

    <section class='review-block'>
      <a href='http://example.com' class='review-block__button review-block__button--left' role='button'></a>
      <a href='http://example.com' class='review-block__button review-block__button--right' role='button'></a>
      <h1 class='review-block__heading'>example.com reviews</h1>
      <p>I really like how those awesome developers code, I mean, they're just so good and amazing! I also think that their projects are <a href='example.com'>(read more...)</a></p>
      <div class='review-block__footer'>
        <div class='review-block__footer__rating'></div>
        <div class='review-block__footer__author'><p>Heribert Unkown</p></div>
      </div>
    </section>

    <section class='review-block'>
      <a href='http://example.com' class='review-block__button review-block__button--left' role='button'></a>
      <a href='http://example.com' class='review-block__button review-block__button--right' role='button'></a>
      <h1 class='review-block__heading'>example.com reviews</h1>
      <p>I really like how those awesome developers code, I mean, they're just so good and amazing! I also think that their projects are <a href='example.com'>(read more...)</a></p>
      <div class='review-block__footer'>
        <div class='review-block__footer__rating review-block__footer__rating--2-star'></div>
        <div class='review-block__footer__author'><p>Heribert Unkown</p></div>
      </div>
    </section>

*/

.review-block {
  @include fallback('padding', 0 $button-size + 2rem, 'small');
  @include fallback('margin-bottom', 3rem, 'small');
  position: relative;
  text-align: center;

  @include bp('small') {
    @include fallback('padding', 0 $button-size + .2rem, 'small');
  }

  &__heading {
    @include primary-heading;
  }

  &__button {
    @include shadow-light;
    @include fallback('width', $button-size, 'small');
    @include fallback('height', $button-size, 'small');
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: $strong-secondary-background;
    background-position: center;
    background-size: 80%;

    &--left {
      left: 0;
      background-image: url($arrow-left-url);
    }

    &--right {
      right: 0;
      background-image: url($arrow-right-url);
    }
  }

  &__footer {
    @include container();
    @include fallback('margin-bottom', .5rem, 'small');

    &__rating {
      @include span(3 of 7);
      @include fallback('height', 1rem, 'small');

      color: $primary;
    }

    &__author {
      @include span(4 of 7);
      @include fallback('font-size', .9rem, 'small');
      text-align: right;
      font-style: italic;
    }
  }

  &__data {
    display: none;
  }
}
