/*
Main Container
==============
Contains all page content except header and footer.

    <main class="main-container">
    </main>

*/

$mobile-header-height: 20%;

.main-container {
  width: 100%;
  min-height: 100%;
  padding-top: $mobile-header-height;
  background-color: $strong-background;
}
