/*
Map Block
=========

A block with a Google Map, a link to that map, and another roundend block
intended for contact information.

     <section class="map">
     <section class="callout-block callout-block--rounded">
       <div class="callout-block__text">
         <a role="button" class="header__hamburger callout-block__hamburger">
         <span class="header__hamburger__icon callout-block__hamburger__icon">
           <span class="header__hamburger__icon__before callout-block__hamburger__icon__before"></span>
           <span class="header__hamburger__icon__after callout-block__hamburger__icon__after"></span>
         </span></a>
         <h1 class="callout-block__text__heading">Welcome</h1>
         <p>Thanks for visiting this awesome styleguide. This is a simple welcome message.</p>
       </div>
     </section>
     <p class="map__button"><a class="map__button__link" href="#">Open Map</a></p>
     </section>

*/

.map {
  @include rem('padding', 1rem);

  background: url($map-static-url) no-repeat center 20% fixed;
  background-size: cover;

  &__button {
    text-align: center;

    &__link {
      @include shadow-light;
      @include rem('border-radius', 2rem);
      @include rem('padding', 1rem);

      background-color: $decent-primary-background;
      text-decoration: none;
      color: $text;
    }
  }

.callout-block {
    @include vw('margin-top', 60vw, 15rem);
    @include rem('margin-bottom', 2rem);

    opacity: 0.75;

    &__hamburger{

      background-color: transparent;
      box-shadow: none;
      position: absolute;
      right: 2%;
      top: 3%;

      &__icon__before {
        transform-origin: left top;
        transform: rotate(45deg);
        margin-left: 1.5vw;
        top: -1vw;
      }

      &__icon__after {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        margin-left: 1.5vw;
        top: 1vw;
      }

      &__icon {
        background-color: transparent;
      }
    }
  }
}
