/*
Header
====
Plain white Header (color:decent) on mobile devices, position is fixed as it stays on<br/>
screen all the time.

      <div class="header">
        <h1 class="header_headline">Christine Minixhofer, Msc</h1>
        <h2 class="header_subline">Training | Coaching | Lebensberatung</h2>
      </div>
      <p>I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/></p>
      <p>I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/></p>
*/

.header{
  background-color: white;
  position: fixed;
  @include shadow-thin();
  width:100%;
  .header_headline{
    text-decoration:none;
    font-weight:normal;
    color:$primary;
    @include rem("font-size", 1.5);
  }
  .header_subline{
    text-decoration:none;
    font-weight:normal;
    color:$text;
    @include rem("font-size", 1.1);
  }
}
