/*
HeaderButton
============
MJAMJAMJAMJAMJAM... Hamburger (JS yet missing)

    <a href="#" role="button" class="header__hamburger"><div class="header__hamburger__image"></div></a>
    <hr/>
*/

.header__hamburger {
  @include rem("border-radius", 1rem);
  @include shadow-light-thin;

  display: block;
  position: absolute;
  top: $mobile-header-height * .3;
  right: $mobile-header-height / 5;
  border: 1px solid $strong-primary-background;
  background-color: $strong-primary-background;
  width: $mobile-header-height / 2;
  height: $mobile-header-height / 2;

  &__image {
    position: relative;
    top: 10%;
    left: 10%;
    background-color: $strong-primary-background;
    background-image: url('../svg/menu.svg');
    width: 80%;
    height: 80%;
  }

  &__image--hit {
    background-image: url('../svg/logo.svg');
  }

}
