/*
HeaderButton
============
MJAMJAMJAMJAMJAM... Hamburger (JS yet missing)
Inspired by http://www.elijahmanor.com/css-animated-hamburger-icon/

    <a href="#" role="button" class="header__hamburger"><span class="header__hamburger__icon">
      <span class="header__hamburger__icon__before"></span>
      <span class="header__hamburger__icon__after"></span>
    </span></a>
    <hr/>
*/

.header__hamburger {
  @include shadow-light-thin;
  @include fallback('border-radius', 1rem, 'small');
  @include fallback('top', $mobile-header-height / 3, 'small');
  @include fallback('right', $mobile-header-height / 5, 'small');
  @include fallback('width', $mobile-header-height / 2, 'small');
  @include fallback('height', $mobile-header-height / 2, 'small');
  @include default-border($strong-primary-background);

  display: block;
  position: absolute;
  background-color: $strong-primary-background;

  &__icon,
  &__icon__before,
  &__icon__after {
    @include fallback('border-radius', 3vw, 'small');

    //if higher than .1rem, some lines appear to be thicker than others...
    @include fallback('height', .1rem, 'small');

    display: block;
    position: absolute;
    background-color: $primary;
    cursor: pointer;
    content: '';
  }

  &__icon {
    top: 50%;
    transform: translateY(-50%);
    margin: auto 8%;
    width: 80%;
  }

  &__icon__before {
    @include fallback('margin-top', -2vw, 'small');
    width: 100%;
  }

  &__icon__after {
    @include fallback('margin-top', 2vw, 'small');
    width: 100%;
  }

  .no-js & {
    display: none;
  }
}
