/*
Header
====
Plain white Header (color:decent) on mobile devices, position is fixed as it stays on<br/>
screen all the time.

      <div class="header">
        <h1 class="header__headline">Christine Minixhofer, Msc</h1>
        <h2 class="header__subline">Training | Coaching | Lebensberatung</h2>
      </div>
      <p>I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/></p>
      <p>I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/>
      I'm a text<br/></p>
*/

$mobile-header-height: 22vw;

.header {
  @include shadow-light;

  position: fixed;
  top: 0;
  z-index: 20;
  background-color: $strong-secondary-background;
  width: 100%;
  height: $mobile-header-height;
  overflow: hidden;

  .no-js & {
    position: static;
    height: auto;
  }

  &__headline {
    @include primary-heading;

    margin-bottom: - $mobile-header-height / 6;
    margin-left: $mobile-header-height / 5;
    font-size: $mobile-header-height / 2.8;
  }

  &__subline {
    @include sub-heading;

    margin-bottom: 5vw;
    margin-left: $mobile-header-height / 5;
    font-size: $mobile-header-height / 6.5;
  }

  &__menu {
    width: 100%;
    height: 0;

    .no-js & {
      height: auto;
    }
  }

}
