/*

Grid
====

As simple grid with Susy.

    <div class="example-grid">
      <div class="example-grid__column">1st Column</div>
      <div class="example-grid__column example-grid__column--narrow">2nd Column</div>
      <div class="example-grid__column example-grid__column--indent">3rd Column</div>
    </div>

*/

$susy: (
  columns: 4,
  gutters: 1/4,
  gutter-position: inside,
  output: isolate,
  math: fluid
);

.example-grid {
  @include container;

  &__column {
    @include span(1);
    border: 1px solid $shadow-dark;

    &--narrow {
      @include span(3);
    }

    &--indent {
      @include span(1);
    }
  }
}
