@import "susy";
@import 'alerts';

/*

Grid
====

As simple grid with Susy.

    <div class="container">
      <div class="container__column">1st Column</div>
      <div class="container__column container__column--narrow">2nd Column</div>
      <div class="container__column container__column--indent">3rd Column</div>
    </div>

*/
$susy: (
  columns: 4,
  gutters: 1/4,
  math: fluid
);

.container {
  @include container(4);

  &__column {
    @include span(2);
    border: 1px solid #000;

    &--narrow {
      @include span(1);
    }

    &--indent {
      @include span(1 at 4);
    }
  }
}
