/*
Variables
============
A File to organise every variable used in our project.
Introduced in order to keep control over names and avoid doubles.

    <br/>

*/

//modules/colors
@import 'modules/colors';
//components/
//    mobileHeader_mainDiv
$mobile-header-height: 22vw;
$mobile-header-height-rem: 5.5rem;
//    review
$button-size: 3.5rem;
$arrow-left-url: '/app/svg/arrow-left.svg';
$arrow-right-url: '/app/svg/arrow-right.svg';
//modules/
//    shadow
$shadow-width: .3rem;
$shadow-thin-width: .2rem;
// map
$map-static-url: 'http://maps.googleapis.com/maps/api/staticmap?center=47.01676,15.430443&zoom=13&scale=2&size=600x640&maptype=roadmap&sensor=false&key=AIzaSyA1wHDCtV5kCH11q_DIpQG--IGMbPhlfu0&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7C47.01676,15.430443';
