{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <!-- build:script requirejs -->
  <script data-main="http://craft.dev/app/js/main" src="http://craft.dev/node_modules/requirejs/require.js"></script>
  <!-- /build -->
  <!-- build:style main -->
  <link rel="stylesheet" href="http://craft.dev/app/bower_components/normalize.css/normalize.css" />
  <link rel="stylesheet" href="http://craft.dev/app/css/main.css" />
  <!-- /build -->
</head>
<body>
	<header class="header">
    <h1 class="header__headline">{{ siteName }}</h1>
    <h2 class="header__subline">
      {% for tag in subtitle.tags %}
        {{ tag }}
        {% if not loop.last %} {{ subtitle.divider }} {% endif %}
      {% endfor %}
    </h2>
    <a role="button" class="header__hamburger"><span class="header__hamburger__icon">
      <span class="header__hamburger__icon__before"></span>
      <span class="header__hamburger__icon__after"></span>
    </span></a>
    {% set pages = craft.entries.section('pages').level(1) %}
    <nav class="header__menu">
      <ul class="header__menu__list">
          {% for page in pages %}
              <li class="header__menu__list__button">
                  <a href="{{ page.url }}" role="button">{{ page.title }}</a>
              </li>
          {% endfor %}
      </ul>
	</header>

	<main id="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer id="footer">
		Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://buildwithcraft.com">Craft</a>
	</footer>
</body>
</html>
